<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lodówki oleole</title>
</head>

<body>
  <div>
    Poniżej wygenerowane statystyki dla pobranych danych Lodówek.
  </div>
  {{ script|safe }}
</body>
</html>
